@use "sass:map";
@use "sass:string";
@use 'variables' as *;

@mixin respond-to($breakpoint, $dir: 'desktop-first') {
	@if map.has-key($breakpoints, $breakpoint) {
		$value: map.get($breakpoints, $breakpoint);  
    $width: '';
		
    @if $dir=='mobile-first' {
      $width: string.unquote('min-width');
    }

    @else {
      $width: string.unquote('max-width');
    }

    @media screen and (#{$width}: $value) {
      @content;
    }
	}
  // @warn 'Unknown `#{$breakpoint}` in $breakpoints';
}
@mixin theme($pallet) {
	color: setcolor($pallet, fg);
	background-color: setcolor($pallet, bg);	
}
@mixin custom-scrollbar($c: $accent, $d: 'h', $s: 5px) {
  @if $s > 10px {
    scrollbar-width: auto;
  }
  @if $s < 10px {
    scrollbar-width: thin;
  }
  @if $s == 0 {
    scrollbar-width: none;
  }
  scrollbar-color: $c rgba($c, 0);
  &::-webkit-scrollbar {
    @if $d == 'h' {
      width: $s;
    }
    @if $d == 'v' {
      height: $s;
    }
    &-thumb {
      background-color: $c;
    }
    &-track {
      background-color: rgba($c, 0);
    }
  }
}
@mixin buttonDefault() {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap + 0px;
  min-width: 150px;
  font-size: 11px;
  font-weight: 500;
  border-radius: var(--border-radius, 3px);
  padding: 1rem;
  outline: none;
  border: none;
}